.wrap { }

.building { background-color:#EFEFEF;position:relative;width:400px;float:left;border-top:1px solid #EFEFEF; }
.building .floor { background-color:#DDD;height:61px; }
.building .floor:first-child { height:62px; }
.building .floor>* { display:inline-block;height:61px; }
.building .mark { background-color:transparent;padding:0 10px 0 0;width:62px;text-align:right;vertical-align:top;line-height:61px;font-size:16px; }
.building .room { width:62px;background-color:#FFF;border:1px solid #333;border-top-width:0; }
.building .floor:first-child>* { height:62px; }
.building .floor:first-child .room { border-top-width:1px; }
.building .gap { width:20px; }
.building .outer { width:150px;line-height:61px;vertical-align:top;padding-left:15px; }
.building .fa { font-size:22px;vertical-align:bottom; }
.building .floor-b1 .fa { font-size:20px; }
.building .floor-b2 .fa { font-size:30px; }

.building .floor-g { border-bottom:1px solid #111; }
.building .floor-b1,
.building .floor-b2 { background-color:#999; }

.building .elevator { position:absolute;height:60px;width:60px;background-color:#FFF;top:1px;border:5px solid skyblue;-webkit-transition:-webkit-transform 1s ease-in-out; }
.building #ele1st { -webkit-transform:translate3d(67px,244px,0); }
.building #ele2nd { -webkit-transform:translate3d(157px,427px,0); }

.personal { float:left;width:802px;height:612px;border:1px solid #000;position:relative; }
.personal-inner { width:0;height:0;border-right:400px solid #FFF;border-left:400px solid #FFF;border-bottom:305px solid #DDD;border-top:305px solid #DDD; }
.personal .lobby { width:400px;height:306px;position:absolute;background-color:#FFF;top:152px;left:200px;border-right:1px solid #999;border-left:1px solid #999; }
.personal .number { text-align:center;font-size:20px;background-color:red;padding-top:65px; }
.personal .wall { background-color:green;height:213px; }
.personal .wall>* { float:left; }
.personal .elevator-wrap { width:45%;background-color:blue;height:100%; }
.personal .btn-wrap { width:10%;background-color:orange;height:100%; }
.personal .top-light { width:100%;background-color:green;height:43px; }
.personal .door { width:100px;height:150px;margin-top:20px;margin-left:40px;background-color:yellow;position:relative; }
.personal .door-perspective { position:absolute;height:0;width:0;top:0;left:0;border-top:75px solid #AAA;border-bottom:75px solid #AAA;border-left:50px solid #FFF;border-right:50px solid #FFF; }
.personal .door-perspective:after { content:' ';position:absolute;height:20px;width:20px;background-color:#333;top:-10px;left:-10px; }